/**
The Default
**/
.menutop{
    border-top-width:1px;
    border-top-style:solid;
    font-family: 'Lato',  'Open Sans',  Arial,  sans-serif;
    font-size:16px;
    text-transform:uppercase;
}
.menutop li{
    float:left;
    position:relative;
}
.menutop a{
    position:relative;
    display:block;
    padding:25px 35px 30px 35px;
    border-top-width:4px;
    border-top-style:solid;
    border-color:transparent;
    margin-top:-1px;
    white-space:nowrap
}

/**  sub-menu  **/
.menutop .sub-menu{
    font-size:16px;
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-100px;
    z-index:99;
    width:200px;
    display:none;
    padding-top:10px;
    margin-top:-10px
}
.menutop .sub-menu .sub-menu{
    top:0;
    left:100%;
    margin-left:0;
    padding-top:0px;
    margin-top:0px
}
.menutop .sub-menu li{
    border-top-width:1px;
    border-top-style:solid;
    float:none
}
.menutop .sub-menu li:first-child{
    border:0 none
}
.menutop .sub-menu li.first{
    border:0 none
}
.menutop .sub-menu a{
    border: 0 none;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 15px;
    text-transform: none;
    white-space: normal;
}
.menutop .sub-menu, .menutop .sub-menu li:last-child a, .menutop .sub-menu li.last a{
    -moz-border-radius: 0 0 3px 3px;		   /* Mozila Firefox border radius */
    -webkit-border-radius: 0 0 3px 3px;	   /* Safari, Chrome border radius */
    -khtml-border-radius: 0 0 3px 3px;	   /* KHTML border radius */
    -icab-border-radius: 0 0 3px 3px;	   /* icab border radius */
    border-radius: 0 0 3px 3px;		   /* CSS3 Opera border radius */
    -opera-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    -border-radius: 0 0 3px 3px;
}

/**
The Default Ends
**/

.navbarup{
    background: #EA640E; /* Old browsers */
}
.menutop{
    font-family: 'Lato',  'Open Sans',  Arial,  sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: #EA640E; /* Old browsers */
}
.menutop li a{
    color: white;
}
.menutop li{
    float:left;
    position:relative;
}
.menutop a:hover{
    background: #FF7200;
}
.menutop .sub-menu a:hover{
    color: white;
    background: #FF7200;    
}
.menutop a{
    position:relative;
    display:block;
    padding: 15px;
    margin-top:-1px;
    white-space:nowrap;
    background: #EA640E; /* Old browsers */
}
.menutop .sub-menu li:first-child{
    border:0 none
}
.menutop .sub-menu li.first{
    border:0 none
}